.App {
  text-align: center;
}

.mainPos {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}